<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luobo.eduservice.mapper.EduCourseMapper">
    <!--   CoursePublishVo getCoursePublishVo(String id);-->
<select id="getCoursePublishVo" resultType="com.luobo.eduservice.entity.vo.CoursePublishVo">
    SELECT ec.title,ec.price,ec.lesson_num lessonNum,ec.cover,
           ecd.description,
           es1.title AS subjectLevelTwo,
           es2.title AS subjectLevelOne,
           et.name AS teacherName
    FROM edu_course ec
             LEFT JOIN `edu_course_description` ecd
                       ON ec.id = ecd.id
             LEFT JOIN `edu_teacher` et
                       ON ec.teacher_id = et.id
             LEFT JOIN `edu_subject` es1
                       ON ec.subject_id = es1.id
             LEFT JOIN `edu_subject` es2
                       ON ec.subject_parent_id = es2.id
    WHERE ec.id =  #{id}

</select>
    <!--CourseWebVo getBaseCourseInfo(String courseId);-->
    <select id="getBaseCourseInfo" resultType="com.luobo.eduservice.entity.frontvo.CourseWebVo">
        SELECT ec.title,ec.price,ec.lesson_num lessonNum,ec.cover,ec.buy_count AS buyCount,ec.view_count AS viewCount,
               ecd.description,
               es1.title AS subjectLevelTwo,
               es1.id AS subjectLevelTwoId,
               es2.title AS subjectLevelOne,
               es2.id AS subjectLevelOneId,
               et.id AS teacherId,
               et.intro,
               et.avatar,
               et.name AS teacherName
        FROM edu_course ec
                 LEFT JOIN `edu_course_description` ecd
                           ON ec.id = ecd.id
                 LEFT JOIN `edu_teacher` et
                           ON ec.teacher_id = et.id
                 LEFT JOIN `edu_subject` es1
                           ON ec.subject_id = es1.id
                 LEFT JOIN `edu_subject` es2
                           ON ec.subject_parent_id = es2.id
        WHERE ec.id =  #{id}

    </select>
</mapper>
